/* Base */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 120rem;
    box-sizing: border-box;
    background-color: #f5f6fa;
}

/* NAVBAR */

.navbar{
    background-color: #2d3436;
    width: 120em;
    height: 2.5em;
    margin-bottom: 1.8em;
}

ul{
    width: 108rem;
    margin-left: auto;
    margin-right: auto;
}

li{
    padding: 0.6rem 1.8rem 0.6rem 0;
    list-style-type: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #a8a9aa;
}

/* MAIN CONTENT */

.main{
    width: 108em;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #e1b12c; */
    border-bottom: 1px solid rgb(206, 203, 203);
}

/* HEADING */

.heading{
    height: 2.5rem;
    border-bottom: 1px solid rgb(206, 203, 203);
    margin-bottom: 0.6rem;
}

h1, h3{
    display: inline;
}

/* BOX */

.box{
    width: 100%;
    margin-bottom: 1.2rem;
    display: block;
}


.box:last-child{
    margin-bottom: 1.2rem;
}

/* BOXES */

.boxes{
    width: 35em;
    height: 27em;
    /* background-color: #a8a9aa; */
    display: inline-block;
}

.boxes:nth-of-type(3n + 0){
    margin-left: 1.2em;
}

.boxes:first-child, 
.boxes:nth-of-type(3n + 1){
    margin-right: 1.2em;
}

.box-img-ph{
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    background-color: #40739e;
    position: relative;
}

.box-img-ph p{
    font-size: 2em;
    position: absolute;
    top: 43%;
    left: 40%;
}

.box-title{
    /* font-size: ; */
    width: 100%;
    margin-bottom: 15px;
}

.box-content{
    width: 100%;
    margin-bottom: 10px;
}

/* BOXES Resp. */


@media (min-width: 601px) and (max-width: 1100px) {

    .boxes{
        width: 850px;
        height: 600px;
    }
    
    .box-img-ph{
        width: 100%;
        height: 400px;
    }
    
    .box-img-ph p{
        font-size: 6em;
        top: 39%;
        left: 30%;
    }
    
    .box-title{
        font-size: 2em;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .box-content{
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    .boxes:nth-of-type(3n + 0){
        margin-left: 0;
    }
    
    .boxes:first-child, 
    .boxes:nth-of-type(3n + 1){
        margin-right: 0;
    }

    .boxes:nth-of-type(2n + 0) {
        margin-left: 1.2em;
    }
    
}

/* @media only screen and (max-width: 600px){ */
@media (max-width: 600px)  {

    .boxes{
        width: 500px;
        height: 600px;
    }
    
     .box-img-ph{
        width: 100%;
        height: 400px;
    }
    /*
    .box-img-ph p{
        font-size: 6em;
        top: 39%;
        left: 30%;
    }
    
    .box-title{
        font-size: 2em;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .box-content{
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.5em;
    } */

    /* .boxes:nth-of-type(3n + 0){
        margin-left: 0;
    }
    
    .boxes:first-child, 
    .boxes:nth-of-type(3n + 1){
        margin-right: 0;
    }

    .boxes:nth-of-type(2n + 0) {
        margin-left: 1.0;
    } */
    
}



/* FOOTER */

.footer{
    width: 108em;
    height: 3.1em;
    margin: 3.1em auto;
    /* background-color: wheat; */
    font-family: 'Roboto', sans-serif;
}

/* RESPONSIVENESS */

/* Setting Width of Page && Box && Boxes */

/* --Phone */
 /* @media (min-width: 300px) and (max-width: 600px){

 } */

